.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 260px 380px 1fr;
    grid-template-rows: 100vh;
    transition: grid-template-columns 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
}
