.dropdown {
    animation-name: stretch--down;
    animation-duration: 0.3s; 
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running; 

    position: absolute;
    right: 4vw;
    display: block;
    z-index: 5;
    background-color: #F2F2F2;
    border-radius: 0.9vw;
  }

.dropdown__rows {
    display: flex;
    flex-direction: column;
//   width: 20vh;
    background-color: transparent;
    box-sizing: border-box;
    // padding: 1vw;

}

// .dropdown__rows:hover {
//     background-color: black;
//     color: white;
//     // cursor: pointer;
// }


.dropdown__button {
    background: transparent;
    // color: black;
    font-weight: 400;
    border: none;
    border-radius: 0.9vw;
    background-color: none;
    padding: 1vw;
    cursor: pointer;
}  

.dropdown__button:hover {
    background-color: black;
    color: white;
}