.headerIntro__container  {
    height: inherit;
    width: 10%;
    // border: 1px solid black;
    margin-right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerIntro__button--download {
    // display: none;
    background-color: white;
    border: 0.1vw solid #01A82D;
    padding: .8vw;
    border-radius: 0.1vw;
    // font-family: 'CaeciliaLTStd-Bold';
    color: #01A82D;
}

.headerIntro__button--login {
    text-decoration: none;
    color: #01A82D;
}