.home__navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.home__navbar--left {
    margin-left: 5vw;
    display: flex;
    align-items: center;
    // justify-items: space-between;
}

.home__image--logo {
    width: 3vw;
}

.home__h1--logo {
    // font-family: 'CaeciliaLTStd-Bold';
    margin-left: 0.5vw;
    font-size: 1.5vw;
}

.home__content {
    width: 100vw;
    height: 80vh;
    background-color:#01A82D;
    display: flex;
}

.home__content--left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__text--left {
    // font-family: 'CaeciliaLTStd-Bold';
    font-size: 4vw;
    text-align: center;
    color: white;
}

.home__signupButton {
    // font-family: 'CaeciliaLTStd-Bold';
    width: 20vw;
    height: 7vh;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #01A82D;
    text-decoration: none;
    border-radius: .5em;
}

.home__signupButton:hover {
    opacity: .7;
}

.home__content--right {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 100%;
}

.home__image--rick {
    width: 30vw;
}

.home__footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    // display: flex;
    // justify-content: space-between;
    align-items: center;
    color:white;
}

.home__button {
    height: 2.5vw;
    opacity: 0.3;
}

.home__button:hover {
    opacity: 1;
}

.home__link--personalWeb {
    font-family: 'Signerica-Medium';
    text-decoration: none;
    color: white;
    font-size: 2.5vw;
}

.home__footer--left {
    width: 15%;
    height: 100%;
    display: flex;
    //  display: flex;
    justify-content: space-around;
    align-items: center;
}
