.home {
    // background-image: image-url('lion-king-wallpaper.png');
    background-size: cover;
}
.home__navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    // background-color: #FFFFFF;
}

.home__navbar--left {
    margin-left: 4vw;
    display: flex;
    align-items: center;
    // justify-items: space-between;
}

.home__image--logo {
    width: 4vw;
}

.home__h1--logo {
    font-family: 'CaeciliaLTStd-Bold';
    margin-left: 1vw;
    font-size: 1.7vw;
}

.home__content {
    width: 100vw;
    height: 80vh;
    // background-color:#2ECC40;
    // background-image: image-url('evernoteWallpaper.jpg');
    // background-image: image-url('lion-king-wallpaper.png');
    background-size: contain;
    display: flex;
    align-items: center;
}

.home__content--left {
    padding-left: 7vw;
    box-sizing: border-box;
    width: 50%;
    height: 73%;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    align-items: flex-start;
}

.home__h2--left {
    // font-family: 'Indie Flower', cursive;
    font-family: 'CaeciliaLTStd-Bold';
    line-height: 130%;
    width: 60%;
    font-size: 3.8vw;
    // text-align: center;
    color: black;
}

.home__p--left {
    // font-family: 'Indie Flower', cursive;
    padding-top: 2vh;
    font-family: 'Raleway';
    font-weight: 400;
    line-height: 140%;
    width: 50%;
    font-size: 1.2vw;
    // text-align: center;
    color: black;
}

.home__signupButton {
    color: white;
    background: #269814;
    margin-top: 3vh;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 1vw;
    text-decoration: none;
    padding: 1vw;
    border: 0.8vw solid #269814;
    border-radius: 0.8vw;
    transition: all 0.5s ease 0s;
}

.home__signupButton:hover {
    border-color: #EFA802;
    border-radius: 2vw;
    color: #EFA802;
    transition: all 0.5s ease 0s;
}

.home__content--right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 100%;
}

.home__image--rick {
    height: 65vh;
}

.home__footer {
    width: 100vw;
    height: 10vh;
    // background-color: white;
    display: flex;
    justify-content: flex-end;
}

.home__footer--right {
    margin-right: 3vw;
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.home__button {
    height: 1.9vw;
    opacity: 1;

}

.home__button:hover {
    opacity: 0.5;
}

.home__link--personalWeb {
    font-family: 'Signerica_Fat';
    text-decoration: none;
    color: #ff073a;
    font-size: 1.9vw;
    
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #ff073a, 0 0 0.5em #ff073a, 0 0 0.1em #ff073a, 0 10px 3px #ff073a;
    animation: blink linear infinite 20s;
}

.home__link--personalWeb:hover {
    color: #269814;
    text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #269814, 0 0 0.5em #269814, 0 0 0.1em #269814, 0 10px 3px #269814;
}