.home__navbar {
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
}

.home__navbar--left {
    margin-left: 5vw;
    display: flex;
    align-items: center;
}

.home__logo {
    // font-family: 'CaeciliaLTStd-Bold';
    font-size: 2vw;
}

.home__content {
    width: 100vw;
    height: 80vh;
    background-color:#01A82D;
    display: flex;
}

.home__content--left {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home__text--left {
    // font-family: 'CaeciliaLTStd-Bold';
    font-size: 4vw;
    text-align: center;
    color: white;
}

.home__signupButton {
    // font-family: 'CaeciliaLTStd-Bold';
    width: 20vw;
    height: 7vh;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: #01A82D;
    text-decoration: none;
    border-radius: .5em;
}

.home__signupButton:hover {
    opacity: .7;
}

.home__content--right {
    width: 40%;
    height: 100%;
}

.home__footer {
    width: 100vw;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    color:white;
}

