.main {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 250px 500px auto;
    grid-template-rows: 100vh;
    transition: all 1s;
}

// .main:hover {
//     grid-template-columns: 250px 500vw auto;
//     transition: all 1s;
// }