.modal__background {
    position: fixed;
    // width: 100vw;
    // height: 100vh;
    // background-color: #AAADB1;
    background: rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__child {
    // position: absolute;
    // transform: translate(-50%, -50%);
    // left: 50%;
    // top: 50%;
}