////////////////////// NOTEBOOKS
.notebooks {
    overflow: hidden;
    grid-row: 1 / 2;
    grid-column: 2 / 4;
    // transition: margin-left 0.5s;
    // margin-left: 250px;
    // padding: 20px;
    // width: 100%;
    // height: 100vh;
    color: black;
    // background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.notebooksClosed {
    transition: margin-left 0.5s;
    margin-left: 44px;
}

////////////////////// NOTEBOOKS HEADER
.notebooks__header {
    font-family: "Raleway";
    display: flex;
    width: 100%;
    margin-top: 2vh;
    height: 5vh;
    box-sizing: border-box;
    padding-left: 2vw;
    padding-right: 2vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    // background-color: #1B1B1B;
}

.notebooks__h1--title {
    // font-family: 'CaeciliaLTStd-Bold';
    color: black;
    font-size: 1.2vw;
    // padding-left: 4vw;
}

.notebooks__header--right {
    display: flex;
    align-items: center;
}

.notebooks__search {
    font-size: 0.8vw;
    font-family: "Raleway";
    font-weight: 400;
    // margin-right: 4vw;
    padding: 0.7vw;
    // border-radius: 1vw;
    border: 0.01vw solid black;
}

.notebooks__search:focus {
    outline: none;
}

////////////////////// NOTEBOOKS CONTENT
.notebooks__section--bottom {
    height: 93vh;
    width: 100%;
    display: block;
    // flex-direction: column;
    // align-items: center;
    // overflow: scroll;
}

////////////////// NOTEBOOK CONTENT NAV
.notebooks__nav {
    display: flex;
    justify-content: space-between;

    align-items: flex-end;
    // display: block;
    // background-color: red;
    width: 100%;
    height: 6vh;
    box-sizing: border-box;
    padding-left: 2vw;
    padding-right: 2vw;
    // padding-bottom: 3%;
}

.notebooks__h2--title {
    // font-family: 'CaeciliaLTStd-Bold';
    font-family: "Raleway";
    font-size: 1vw;
}

.notebooks__addContainer {
    display: flex;
    // align-items: flex-end;
    align-items: center;
    // cursor: pointer;
}

.notebooks__button--addImage {
    width: 2vw;
    filter: brightness(0) saturate(100%) invert(30%) sepia(59%) saturate(5655%) hue-rotate(116deg) brightness(95%) contrast(74%);
    cursor: pointer;
}

.notebooks__button--addImage:hover {
    filter: brightness(0) saturate(100%) invert(65%) sepia(91%) saturate(798%) hue-rotate(358deg) brightness(99%) contrast(90%);
    animation: rotation 1.5s infinite linear;
}

.notebooks__button--add {
    // font-family: 'CaeciliaLTStd-Bold';
    font-family: "Raleway";
    font-size: 1vw;
    color: #008E00;
    border: none;
    // outline: none;
    background-color: transparent;
    font-weight: 400;
    cursor: pointer;
}

.notebooks__button--add:hover {
    color: #EFAD0F;
}

///////////////// NOTEBOOK TABLE SECTION
.notebooks__tableContainer {
    box-sizing: border-box;
    padding-top: 3vh;
    width: 100%;
    // display: flex;
    // justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
}

.notebooks__table {
    font-family: "Raleway";
    border-top: 3px solid black;
    width: 100%;
}

.notebooks__tableBody {
}

.notebooks__tableRow--header {
    width: 100%;
    // height: 2vh;
    height: 5vh;
    
    background-color: #F8F8F8;
    color: black;
    text-align: left;
    // display: flex;
    align-items: center;
    // padding-left: 2%;
}

.notebooks__tableRow--header:hover {
    background-color: #F2F2F2;
}

.notebooks__tableCol--header:first-child {
    padding-left: 2%;
}

.notebooks__tableCol--header:last-child {
    text-align: right;
    padding-right: 2%;
}

.notebooks__tableCol--header {
    // height: 2%;
    vertical-align: middle;
    font-size: 0.8vw;
    font-family: 'Raleway';
    color: #6d6d6d;
}
