.noteEditor {
    // display: block;
    width: 59vw;
    height: 50vh;
    box-sizing: border-box;

}

.noteEditor__quill {
    // why is there padding on this height?
    height: 100%;
}

// quill editor styles for showing to user
// bold
strong {
    font-weight: bolder;
}

// italics
em {
    font-style: italic;
}

.noteEditor__header {
    display: flex;
    justify-content: space-between;

    box-sizing: border-box;
    padding: 1vw;
}

.noteEditor__input--title {
    width: 100%;
    border: none;
    outline: none;
}