.notebooks__tableRow {
    height: 4vh;
}

.notebooks__tableRow:hover {
    background-color: #F2F2F2;
}

.notebooks__tableRow--even {
    background-color: white;
}

.notebooks__tableRow--odd {
    background-color: #F8F8F8;
}

.notebooks__tableCol {
    vertical-align: middle;
    font-size: 0.8vw;
}

.notebooks__links {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-left: 4%;
}

.notebooks__links:hover {
    text-decoration: underline;
}

.notebooks__tableCol:first-child {
    width: 40%;
    padding-left: 2%;
}

.notebooks__tableCol:last-child {
    padding-right: 2%;
    text-align: right;
}

// ICONS
.fa-running {
    color: black;
    font-size: 0.7vw;
}

.fa-running:hover {
    color: #016d00;
}

.chevron-right--notebooks {
    font-size: 0.7vw;
}

.chevron-right--notebooks:hover {
    color: #016d00;
}

.chevron-down--notebooks {
    font-size: 0.7vw;
}

.chevron-down--notebooks:hover {
    color: #016d00;
}