.notebooks__tableRow {
    height: 5vh;
    overflow: hidden;
}

.notebooks__tableRow:hover {
    background-color: #F2F2F2;
}

.notebooks__tableRow--even {
    background-color: white;
}

.notebooks__tableRow--odd {
    background-color: #F8F8F8;
}

.notebooks__tableCol {
    vertical-align: middle;
    font-size: 0.9vw;
    box-sizing: border-box;
}

.notebooks__links {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-left: 4%;
}

.notebooks__links:hover {
    text-decoration: underline;
}

.notebooks__tableCol:first-child {
    width: 30%;
    padding-left: 2%;
    // box-sizing: border-box;
}

.notebooks__tableCol:last-child {
    padding-right: 2%;
    text-align: right;
    // box-sizing: border-box;
}

// ICONS
.fa-running {
    color: black;
    // font-size: 0.9vw;
}

.fa-running:hover {
    transition: 1s;
    color: #016d00;
}

.chevron-right--notebooks {
    transition: 1s;
    font-size: 0.9vw;
}

.chevron-right--notebooks:hover {
    transition: 1s;
    color: #016d00;
}

.chevron-down--notebooks {
    transition: 1s;
    font-size: 0.9vw;
}

.chevron-down--notebooks:hover {
    transition: 1s;
    color: #016d00;
}

// .notebooks__tableRowContainer {
//     display: flex;
//     justify-content: flex-;
// }