.notesNav {
    background-color: #F8F8F8;
    width: 30%;
    height: 100%;
}

.notesNav__header {
    width: 100%;
    height: 8vh;
    display: flex;
    // flex-direction: column;
    padding-left: 1vw;
    align-items: flex-end;
    font-size: 1.8vw;
    // padding-bottom: 5vh;
}

.notesNav__navbar {
    // width: 21vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 8vh;
}

.notesNav__indexSection {
    width: 100%;
    // height: 100%;
    border: 1px solid red;
    overflow: scroll;
}

.notesNav__navbar--left {
    margin-left: 1vw;
}

.notesNav__navbar--right {
    margin-right: 1vw;
}