.notesNav {
    animation: fade;
    animation-duration: 0.8s; 
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running; 

    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: #FDF6E4;
    display: grid;
    grid-template-rows: 200px auto;
    box-sizing: border-box;
}

.notesNav__h2--noNotes {
    text-align: center;

    line-height: 200%;

    font-size: 1.5vw;
}

.notesNav--darkMode {
    background-color: #263238;
}

.notesNav--darkMode > * {
    color: #FDF6E4 !important;
}

.notesNavClosed {
    transition: margin-left 0.5s;
    margin-left: 44px;
}

.notesNav__header {
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-around;
    padding-left: 36px;
    padding-right: 1.5vw;
    color: black;
}

.notesNav__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

::-webkit-scrollbar {
    width: 0px;
}

.notesNav__indexSection {
    scrollbar-color: transparent;
    scrollbar-width: none;
    grid-row: 2 / 3;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.noteNavItem {
    scroll-snap-align: start;
    border-top: 0.3px solid #efe8d7;
    height: 260px;
    width: 100%;

    display: grid;
    grid-template-rows: 60px auto 60px;
    color: black;
    // color: white;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

.noteNavItem--darkMode {
    color: #efe8d7 !important;
    border-top: 0.3px solid #192126;
}

.noteNavItem--active--darkMode {
    background-color: #1f292d !important;
    
}

.noteNavItem--active {
    width: 100%;
    color: black;
    background-color: rgb(255, 233, 167);
    // background-color: #ffda7c;
    border: none;
}
    


.noteNavItem__title {
    grid-row: 1 / 2;
    background-color: transparent;
    font-family: "Raleway";
    font-size: 1.3em;
    margin-top: 30px;
    // display: flex;
    align-items: center;

    min-width: 0px;
    max-width: 200px;
    white-space: nowrap;
    overflow:hidden;
    text-overflow: ellipsis;
}

.noteNavItem__bodyContainer {
    grid-row: 2 / 3;
    box-sizing: border-box;
    overflow: hidden;
}


.noteNavItem__timestamp {
    grid-row: 3 / 4;
    font-family: "Raleway";
    font-size: 0.9em;
   
    display: flex;
    align-items: center;
}

.ql-bubble .ql-editor {
    background: none;
    height: inherit;
    overflow: hidden;
    cursor: pointer;
    padding: 0;
}

