.notebookNoteItems__tableRow--even {
    // transition: 1s; 
    animation-name: stretch--down;
    animation-duration: 0.2s; 
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running; 

    background-color: #F2F2F2;
}

.notebookNoteItems__tableRow--odd {
    animation-name: stretch--down;
    animation-duration: 0.2s; 
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-play-state: running; 

    background-color: white;
}

.notebookNoteItems__tableCol:first-child {
    padding-left: 3.7vw;
}

.notebookNoteItems__links {
    text-decoration: none;
    color: black;
}

.notebookNoteItems__links:hover {
    text-decoration: underline;
}