.noteMoveModal {
    background-color: white;
    width: 40vw;
    height: 44vh;
    border-radius: 0.2vw;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.12), 
                    4px 4px 4px 4px rgba(0,0,0,0.12), 
                    6px 6px 6px 6px rgba(0,0,0,0.12), 
                    10px 10px 10px 10px rgba(0,0,0,0.12),
                    18px 18px 18px 18px rgba(0,0,0,0.12);
    box-sizing: border-box;
    padding: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.noteMoveModal__topContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noteMoveModal__table {
    height: 65%;
    width: 100%;
    overflow: scroll;
    scrollbar-width: thin !important;
}

.noteMoveModal__rows {
    display: flex;
    height: 20%;
    width: 100%;
    color: black;
    justify-content: center;
    align-items: center;
    font-weight: 600;
}

.noteMoveModal__rows:hover {
    cursor: pointer;
    background-color: #01A82D;
    color: white;
}

