.noteEditor {
    grid-row: 1 / 2;
    grid-column: 3 / 4;

    grid-template-rows: 70px 80px auto 50px;
  
    box-sizing: border-box;
    display: grid;
    padding: 30px;
    // background-color: black;
}

.noteEditor--darkMode {
    background-color: #263238;
}

.noteEditor--darkMode > * {
    color: white;
}

.noteEditor__header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    grid-row: 1 / 2;
    
}

.noteEditor__header--left {
    // width: 60%;
    display: flex;
    // flex-wrap: nowrap;
    // text-decoration: none;
    // height: 30px;
    // line-height: 100%;
}

.noteEditor__icons {
    // color: #01A82D;

    font-size: 1.5em;
    cursor: none;
}


.noteEditor__h2--header {
    font-size: 1.5em;
    font-weight: 700;
    padding-left: 12px;
    color: black;
   
}

.noteEditor__button--trash {
    transition: 1s;
    font-size: 1.5em;
    // opacity: 0;
    // display: none !important;
    opacity: 0;
}

.fa-trash-alt {
    color: #F44336;
}

// .noteEditor__button--trash:hover {
//     transition: 1s;
//     color: #01A82D;
//     font-size: 1.5em;
// }

.noteEditor__button--trash--show {
    display: inline-block !important;
    transition: 1s;
    opacity: 1;
}



.noteEditor__input--title {

    width: 100%;
    grid-row: 2 / 3;

    border: none;
    outline: none;
    padding-left: 12px;
    background-color: transparent;
}

.noteEditor__quillContainer {
    grid-row: 3 / 4;
    overflow: hidden;

    display: flex;
}

.noteEditor__quillContainer > .quill {
    // height: 100%;
    width: 100%;
}

.ql-container {
    border: none !important;
}

.ql-snow .ql-editor {
    height: inherit !important;
    // border: 1px solid black !important;
    overflow: scroll;
}

.ql-toolbar {
    border: none !important;
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
}

.ql-toolbar--show {
    opacity: 1;
    transition: 1s opacity;
}

.ql-list {
    width: 3vw !important;
}

.noteEditor__footer {
    grid-row: 4 / 5;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.footer__characterLength {
    opacity: 0;
    transition: 1s opacity;
    font-size: 1.5em;
}

.footer__characterLength--show{
    opacity: 1;
    transition: 1s opacity;
}


.noteEditor__button {
    margin-left: 1vw;

    width: 1.5em;
    opacity: 1;
 
}

.noteEditor__button:hover {
    opacity: 0.5;
}

.noteEditor__link--personalWeb {
    font-family: 'Signerica_Fat';
    text-decoration: none;

    font-size: 1vw;
    
   
    color: red;
    animation: neon .08s ease-in-out infinite alternate;

}

.noteEditor__link--personalWeb:hover {
    animation: none;
    color:black;
}

.ql-editor .ql-video {
    display: block;
    max-width: 100%;
    width: 100%;
    // max-height: 100%;
    height: 56.25%;
    // padding-top: 56?.25%; 
    // padding-bottom?: 56.25%;
}


// quill editor styles for showing to user
// bold
strong {
    font-weight: bold;
}

// italics
em {
    font-style: italic;
}