.noteNavItem {
    width: 100%;
    height: 8vw;
    border: 1px solid black;
    overflow: hidden;
}

.noteNavItem__title {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5vw;
    font-weight: 400;
    text-decoration: none;
    color: black;
}

.noteNavItem__body {
    margin-top: 2vh;
    font-family: 'Raleway', sans-serif;
    font-size: 1vw;
    font-weight: 100;
    color: black;
    // width: 100%;
    // height: 100%;
    // overflow: hidden;
}