.notebookNoteItems__tableRow--even {
    background-color: #F2F2F2;
}

.notebookNoteItems__tableRow--odd {
    background-color: white;
}

.notebookNoteItems__tableCol:first-child {
    padding-left: 3.7vw;
}

.notebookNoteItems__links {
    text-decoration: none;
    color: black;
}

.notebookNoteItems__links:hover {
    text-decoration: underline;
}