.notesNav {
    background-color: #F8F8F8;
    width: 400px;
    height: 100%;
    margin-left: 250px;
    transition: margin-left 0.6s;
}

.notesNavClosed {
    transition: margin-left 0.6s;
    margin-left: 80px;
}

.notesNav__header {
    width: 100%;
    height: 16vh;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-end;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
}

.notesNav__navbar {
    // width: 21vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 8vh;
}

.notesNav__indexSection {
    width: 100%;
    height: 84vh;
    // border: 1px solid red;
    overflow: scroll;
}

.notesNav__navbar--left {
    // margin-left: 1vw;
}

.notesNav__navbar--right {
    // margin-right: 1vw;
}

.noteNavItem {
    width: 100%;
    height: 8vw;
    padding: 1vw;
    box-sizing: border-box;
    border: 0.001vw solid #dddbdb;
    overflow: hidden;
}

.noteNavItem__title {
    font-weight: 700;
    color: black;
}

.noteNavItem__body {
    font-size: 1.5vw;
    cursor: pointer;
    color: black;
    // height: 4vh;
    overflow: hidden;
    white-space: nowrap; 
    text-overflow: ellipsis;
}

.ql-bubble .ql-editor {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.95vw;
    width: 100%;
    overflow: hidden;
    cursor: pointer;
}