.sessionForm {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: image-url('sessionWallpaper.jpeg');
    // background-color: #01A82D;
    background-size: cover;
}

.sessionForm__section--form {
    width: 27vw;
    height: auto;
    box-sizing: border-box;
    padding-top: 4vh;
    padding-bottom: 4vh;
    background-color: rgba(255, 255, 255, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 3vw;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.12), 
                4px 4px 4px 4px rgba(0,0,0,0.12), 
                6px 6px 6px 6px rgba(0,0,0,0.12), 
                10px 10px 10px 10px rgba(0,0,0,0.12),
                18px 18px 18px 18px rgba(0,0,0,0.12);
}

.sessionForm__section--form:hover {
    box-shadow: none;
    // background-color: rgba(255, 255, 255, 1);
}


//////////// session form image and title
.sessionForm__section--header {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}


/////////// div container for input
.sessionForm__form {
    padding-top: 1vh;
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sessionForm__input {
    display: block;
    width: 13vw;
    border: 0.01vw solid gainsboro;
    // box-shadow: 0 2px 2px rgba(0,0,0,0.12);
    border-radius: 0.3vw;
    font-family: "Raleway";
    font-size: 0.9vw;
    padding: 0.6vw;
    box-sizing: border-box;
    margin: 0.5vw;
}

.sessionForm__input:focus {
    outline: none;
    background-color: #fcf3cc;
    box-shadow: 0.01vw 0.01vw 0.1vw 0.1vw #ccc;
}

.sessionForm__errors {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.9vw;
    line-height: 150%;
}

.sessionForm__button {
    width: 8vw;
    margin-top: 2vh;
    outline: none;
    color: white;
    background: #269814;
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 0.9vw;
    text-decoration: none;
    padding: 0.2vw;
    border: 0.5vw solid #269814;
    border-radius: 0.8vw;
    transition: all 0.5s ease 0s;
}

.sessionForm__button:hover {
    border-color: #EFA802;
    border-radius: 2vw;
    color: #EFA802;
    transition: all 0.5s ease 0s;
    cursor: pointer;
}

.sessionForm__button:active {
    color: black;
    background-color: #CE4FB7;
}

.sessionForm__logo {
    height: 12vh;
    animation: rotation 10s infinite linear;
}

.sessionForm__h1 {
    font-family: 'CaeciliaLTStd-Bold';
    font-size: 3vw;
    line-height: 150%;
}

.sessionForm__h2 {
    font-size: 1.2vw;
    font-family: "Raleway";
    line-height: 110%;
}

.sessionForm__h3 {
    margin-top: 4vh;
    text-align: center;
    font-size: 1.2vw;
    font-family: "Raleway";
    font-weight: 400;
    line-height: 160%;
}

.sessionForm__login {
    text-decoration: none;
    color: #01A82D;
    line-height: 160%;
    font-size: 1vw;
}

.sessionForm__login:hover {
    color: #CE4FB7;
    cursor: pointer;
}

.sessionForm__login:active {
    color: #FFBF88;
}

.sessionForm__signup {
    text-decoration: none;
    color: #01A82D;
    line-height: 160%;
    font-size: 1vw;
}

.sessionForm__signup:hover {
    color: #CE4FB7;
    cursor: pointer;
}

.sessionForm__signup:active {
    color: #FFBF88;
}
