.sidebar {
    font-family: "Raleway";
    height: 100vh;
    width: 250px;
    position: fixed;
    top: 0px;
    left: 0px;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: #1B1B1B;
    color: white;
    display: flex;
    flex-direction: column;
}

.sidebarClosed {
    transition: 0.5s;
    width: 44px;
    // font-size: 0px;
}

// .sidebar__listContainer {
    // padding-left: 1vw;
    // width: 50;
    // height: 94%;
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
// }

/////////////////////////////// USER MENU //////////////////////////////
.sidebar__userContainer {
    display: flex;
    justify-content: space between;
    align-items: center;
    width: 100%;
    height: 7vh;
    padding-left: 1vw;
}

.sidebar__userLogo {
    font-size: 1em;
}

.sidebar__username {
    // padding-left: 1vw;
    font-size: 1em;
}

.chevron-down--sidebar {
    color: white;
    padding-left: 10px;
}

.chevron-down--sidebar:hover {
    color: #046D02;
}

.fas:hover {
    cursor: pointer;
}

/////////////////////////////// SEARCH //////////////////////////////
// .sidebar__searchContainer {
//     // display: flex;
//     // justify-content: center;
//     // align-items: center;
//     width: 100%;
//     height: 5vh;
// }

// .sidebar__search {
//     margin-left: 1vw;
//     width: 65%;
//     // outline: red;
//     border: none;
//     border-radius: 1vw;
//     padding: 0.7vw;
//     font-size: 0.9vw;
// }

// .sidebar__search:focus {
//     background-color: none;
//     outline: none;
// }

// .sidebar__list {
//     height: 5vh;
//     width: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .sidebar__list:hover {
//     background-color: forestgreen;
// }


/////////////////////////////// SIDEBAR NAVIGATION//////////////////////////////
.sidebar__navlink {
    white-space: nowrap;
    height: 4vh;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
}

.sidebar__navlink:hover {
    color: black;
    background-color: #EFAD0F;
    
}

.sidebar__navlink:active {
    color: red;
    background-color: #EFAD0F;
}

.sidebar__navlink--active{
    background-color: #404040;
}

.sidebar__navlink--expand {
    justify-content: flex-end;
}

.sidebar__icons {
    // font-size: 1em;
    margin: 15px;
    color: #00A82D;
}

.sidebar__icons:hover {
    color: red;
}

.sidebar__button--add {
    width: 1em;
    filter: brightness(0) saturate(100%) invert(30%) sepia(59%) saturate(5655%) hue-rotate(116deg) brightness(95%) contrast(74%);
}

.sidebar__button--logout {
    width: 100%;
    height: 100%;
    font-family: "Raleway";
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1vw;
}

.sidebar__button--logout:hover {
    color: black;
    cursor: pointer;
}

.sidebar__button--logout:active {
    color: red;
    outline: none;
}

.sidebar__button--logout:focus {
    outline: none;
}