.tags {
    // animation: fade;
    // animation-duration: 1s; 
    // animation-timing-function: linear;
    // animation-delay: 0s;
    // animation-direction: normal;
    // animation-iteration-count: 1;
    // animation-play-state: running; 
    grid-column: 2 / 4;
    grid-row: 1 / 2;
    background-color: #263238;
    // background-color: white;

    // grid-template-rows: 50px 100px 100px auto;
}

.tags__container {
}

.tags__header {
    width: 100%;
    height: 10vh;
}

.tag__link {
    width: 25%;
    height: 15vh;
    background-color: green;
}